html {
  font-family: "Nunito", sans-serif;
  background: -webkit-linear-gradient(
    30deg,
    rgb(226, 118, 153),
    rgb(255, 255, 255)
  );
  cursor: url("./assets/heart16.png"), auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1 {
  color: #eb5284;
  margin-bottom: 70px;
}

.options {
  /* display: flex; */
}

.btn {
  font-size: 15px;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: none;
  /* border-color: pink; */
  background-color: pink;
  color: gray;
  margin: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: white;
  cursor: url("./assets/heart16.png"), auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  justify-content: center;
  width: 300px;
  height: 150px;
}

#noBtn {
  position: absolute;
  margin-left: 200px;
  transition: 0.5s;
  height: 80px;
  width: 120px;
}

/* height: 50px; */
/* width: 80px; */
#yesBtn {
  position: absolute;
  transition: 0.5s;
  height: 20px;
  width: 60px;
}

.container {
  display: flex;
  flex-direction: column;
}

.hyes {
  margin-left: 30px;
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .buttons {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    justify-content: center;
    width: 100%;
    height: 150px;
  }

  #header {
    margin-left: 70px;
  }
  #noBtn {
    position: absolute;
    margin-left: 200px;
    margin-right: 40px;
    transition: 0.5s;
    height: 70px;
    width: 110px;
  }

  /* height: 50px; */
  /* width: 80px; */
  #yesBtn {
    position: absolute;
    margin-right: 110px;
    transition: 0.5s;
    height: 70px;
    width: 110px;
  }
}
